In [2]:
import pandas as pd
import numpy as np

##### Pull in data from an API.

In [3]:
names = ['jonathan','jennie','morgan','maggie','rachel','ben']
batch = ''

for name in names:
    batch = batch + '&name[]=' + name + '&country_id=US'

url = 'https://api.agify.io?' + batch

df = pd.read_json(url)

In [4]:
ages = [42, 40, 37, 34, 34, 32]

df['actual_age'] = np.array(ages)

df.rename(columns={'age':'predicted_age'}, inplace=True)

df = df[['country_id','name','count', 'predicted_age','actual_age']]

display(df)

  country_id      name  count  predicted_age  actual_age
0         US  jonathan  20794             42          42
1         US    jennie   1012             60          40
2         US    morgan   2487             36          37
3         US    maggie   2100             51          34
4         US    rachel   9217             41          34
5         US       ben  10936             47          32

##### Find and print TWO descriptive statistics about your data.

In [5]:
p_mean = df['predicted_age'].mean()
a_mean = df['actual_age'].mean()

print('mean actual age: {:.0f} \nmean predicted age: {:.0f}'.format((a_mean),(p_mean)))

mean actual age: 36
mean predicted age: 46

In [6]:
p_max = df['predicted_age'].max()
a_max = df['actual_age'].max()

print('max actual age: {0} \nmax predicted age: {1}'.format((a_max),(p_max)))

max actual age: 42
max predicted age: 60

##### Write a query in Pandas to select a particular set of your data.

In [7]:
df.query('actual_age > predicted_age')

  country_id    name  count  predicted_age  actual_age
2         US  morgan   2487             36          37

##### Select and print the SECOND AND THIRD columns of your data frame.

In [8]:
print(df.iloc[:, [1, 2]])

       name  count
0  jonathan  20794
1    jennie   1012
2    morgan   2487
3    maggie   2100
4    rachel   9217
5       ben  10936

##### Select and print the FIRST 4 rows of you data frame.

In [9]:
print(df.head(4))

  country_id      name  count  predicted_age  actual_age
0         US  jonathan  20794             42          42
1         US    jennie   1012             60          40
2         US    morgan   2487             36          37
3         US    maggie   2100             51          34